<h2 class="mb-3 heading">{{ post.judul }}</h2>
<div class="meta">
    <span><i class="fa fa-calendar"></i> {{ post.tgl_tampil | date('d-m-Y') }}</span>
    <span><i class="fa fa-calendar-check-o"></i> {{ post.updated_at | date('d-m-Y') }}</span>
</div>
<blockquote class="blockquote">{{ post.ringkasan }}</blockquote>
<p>
    {% set headerDef = 'assets/images/image_2.jpg'|theme %}
    {% set header = post.gambar_header.path | default(headerDef) %}
    <img src="{{ header | resize(false, 487) }}" alt="" class="img-fluid">
</p>
{{ post.isi | raw }}
{# gambar yang lainnya #}
{% if post.gambar_lainnya.count %}
    <hr/>
<h3>Gambar berkaitan:</h3>
    {% for img in post.gambar_lainnya %}
    <p><img src="{{img.path}}" alt="{{ img.description }}" class="img-fluid"></p>
    {% endfor %}
{% endif %}