{% set posts = __SELF__.posts %}
{% for post in posts %}
    <h2><a href="{{ post.url }}" title="{{ post.judul }}">{{ post.judul }}</a></h2>
    <p>Tanggal tampi: {{ post.tgl_tampil | date("m-d-Y") }}</p>
    <p>{{ post.ringkasan }}</p>
{% else %}
<p class="text-center text-danger">Maaf, belum ada data untuk saat ini.</p>
{% endfor %}

{% if posts and tulisanDiTag['tampilkanPagination'] %}
<div class="w-100"></div>
<div class="col-md-12 col-lg-12 ftco-animate">
    <hr />
    {% partial '@pagination' records=posts thispage=this.page %}
</div>
{% endif %}